asgiref@ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
automium==0.2.6
automium-web==0.1.1
backports.zoneinfo@ file:///D:/bld/backports.zoneinfo_1667158957025/work
brotlipy@ file:///D:/bld/brotlipy_1666764911856/work
CacheControl@ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1675196722997/work
certifi==2022.12.7
cffi@ file:///D:/bld/cffi_1671179504620/work
charset-normalizer@ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click==8.1.3
colorama==0.4.6
contourpy==1.0.6
cryptography@ file:///D:/bld/cryptography-split_1681508861704/work
cycler==0.11.0
Django==4.1.4
django-cors-headers==3.14.0
django-crontab==0.7.1
django-mssql==1.8
django-pyodbc==1.1.3
django-pytds==1.5
django-simpleui==2022.12.18
django-sqlserver==1.11
Flask==2.2.2
fonttools==4.38.0
idna@ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata==5.1.0
include==0.2.2
itsdangerous==2.1.2
Jinja2==3.1.2
keras==2.11.0
kiwisolver==1.4.4
legacy==0.1.6
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.6.2
msgpack@ file:///D:/bld/msgpack-python_1678312966132/work
mysqlclient==2.1.1
numpy==1.23.5
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
pip-review==1.3.0
pycparser@ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyMySQL==1.0.2
pyodbc==4.0.35
pyOpenSSL@ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing==3.0.9
pypiwin32==223
PySocks@ file:///D:/bld/pysocks_1661604991356/work
python-dateutil==2.8.2
python-tds==1.11.0
pytz==2022.7
pywin32==305
requests@ file:///home/conda/feedstock_root/build_artifacts/requests_1680286922386/work
six==1.16.0
sqlparse@ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions@ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2022.7
urllib3@ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
Werkzeug==2.2.2
win-inet-pton@ file:///D:/bld/win_inet_pton_1667051142467/work
zipp==3.11.0
