{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>大学生发展综合素质测评系统</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="Mannatthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- X-editable css -->
    <link type="text/css" href="../static/css/bootstrap-editable.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="preloader">
    <div id="status">
        <div class="spinner">

        </div>
    </div>
</div>
<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <!-- Logo container-->
            <div class="logo">
                <a href="index.html" class="logo">
                    <i class="mdi mdi-bowling text-success mr-1">

                    </i>
                    <span class="hide-phone">大学生发展综合素质测评系统</span>
                </a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras topbar-custom">
                <ul class="list-unstyled float-right mb-0">
                    <!-- language-->
                    <li class="list-inline-item dropdown notification-list hide-phone">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"
                            href="#" role="button" aria-haspopup="false" aria-expanded="false">Chinese
                            <img src="../static/picture/chinese_fiag.jpg" class="ml-2" height="16" alt=""></a>
                    </li><!-- notification-->
                    <li class="list-inline-item dropdown notification-list"><a
                            class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"
                            href="#" role="button" aria-haspopup="false" aria-expanded="false"><i
                            class="dripicons-mail noti-icon"></i><span
                            class="badge badge-danger noti-icon-badge">5</span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg border-0">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5><span class="badge badge-danger float-right">5</span>Messages</h5>
                            </div>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="../static/picture/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle">
                            </div>
                            <p class="notify-details">
                                <b>Charles M. Jones</b>
                                <small class="text-muted">Dummy text of the printing and typesetting industry.</small>
                            </p>
                            </a>
{#                            <!-- item--><a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                            <div class="notify-icon"><img src="../static/picture/avatar-3.jpg" alt="user-img"#}
{#                                                          class="img-fluid rounded-circle"></div>#}
{#                            <p class="notify-details"><b>Thomas J. Mimms</b><small class="text-muted">You#}
{#                                have 87 unread messages</small></p>#}
{#                        </a><!-- item--><a href="javascript:void(0);" class="dropdown-item notify-item">#}
{#                            <div class="notify-icon"><img src="../static/picture/avatar-4.jpg" alt="user-img"#}
{#                                                          class="img-fluid rounded-circle"></div>#}
{#                            <p class="notify-details"><b>Luis M. Konrad</b><small class="text-muted">It is a#}
{#                                long established fact that a reader will</small></p>#}
{#                            </a>#}
                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item border-top">
                                View All
                            </a>
                        </div>
                    </li><!-- notification-->
                    <li class="list-inline-item dropdown notification-list"><a
                            class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown"
                            href="#" role="button" aria-haspopup="false" aria-expanded="false"><i
                            class="dripicons-bell noti-icon"></i><span
                            class="badge badge-success noti-icon-badge">{% notifications_unread %}</span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg border-0">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5>Notification</h5>
                            </div><!-- item--><a href="{% url 'my_notifications' %}" class="dropdown-item notify-item">
                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                            我的消息<span class="badge unread-count">{% notifications_unread %}</span>
                            <br><small class="text-muted">My Messages</small>
                        </a>
                        </div>
                    </li><!-- User-->
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown"
                           href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="../static/picture/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <span>{{ name }}</span>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown  border-0">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5>Welcome,{{ name }}</h5>
                            </div>
                            <a class="dropdown-item" href="/login/infor.html">
                                <i class="mdi mdi-account-circle m-r-5 text-muted">
                                </i>用户信息</a>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-lock-open-outline m-r-5 text-muted">
                                </i>切换用户</a>
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-settings m-r-5 text-muted">
                                </i>设置
                            </a>
                            <div class="dropdown-divider">
                            </div>
                            <a class="dropdown-item" href="http://127.0.0.1:8000/">
                                <i class="mdi mdi-logout m-r-5 text-muted">
                                </i>退出登录
                            </a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>
                </ul>
            </div>
            <!-- end menu-extras -->
            <div class="clearfix">
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <!-- MENU Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="http://127.0.0.1:8000/login/index.html">
                            <i class="dripicons-device-desktop">
                            </i>主页
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="#">
                            <i class="dripicons-jewel">

                            </i>提交材料
                        </a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li>
                                        <a href="tables-editable.html">上传审核材料</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">
                            <i class="dripicons-blog">

                            </i>发展方向建议
                        </a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                <a href="#">专业技术能力</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="suggestion/1/">专业技术推荐</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">创新创业能力</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="suggestion/2/">创新创业推荐</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">知识学习能力</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="suggestion/3/">知识学习推荐</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">管理实践能力</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="suggestion/4/">管理实践推荐</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">综合发展能力</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="suggestion/5/">综合发展推荐</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">
                            <i class="dripicons-blog">

                            </i>评分准则
                        </a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li>
                                        <a href="form-editors.html">五大方面评分准则</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">
                            <i class="dripicons-blog">

                            </i> 活动信息
                        </a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li>
                                        <a href="activity.html">活动入口</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right hide-phone">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-3"><input class="knob" data-width="48"
                                                                     data-height="48" data-linecap="round"
                                                                     data-fgcolor="#605daf" value="{{number}}"
                                                                     data-skin="tron" data-angleoffset="180"
                                                                     data-readonly="true"
                                                                     data-thickness=".1"></li>
                            <li class="list-inline-item"><span class="text-muted">达标率</span>
                                <h6>{{num_pass}}人/{{num_all}}人</h6>
                            </li>
                        </ul>
                    </div>
                    <h4 class="page-title">学生成绩详情</h4>
                    <div class="btn-group mt-2">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">学生成绩详情页是用来展示学生个人的课程成绩情况</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">学生成绩</h4>
                        <p class="text-muted mb-4 font-13">下面是学生的具体成绩情况</p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 20%;">姓名</th>
                                <th style="width: 20%;">学号</th>
                                <th style="width: 20%;">课程</th>
                                <th style="width: 20%;">成绩</th>
                                <th style="width: 20%;">绩点</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in course_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.stu_id }}</td>
                                <td>{{ item.course }}</td>
                                <td>{{ item.grade }}</td>
                                <td>{{ item.gpa}}</td>
                                <!--                                {% if item.zhuangtai == "T" %}-->
                                <!--                                <td><font color="green">通过</font></td>-->
                                <!--                                {% endif %}-->
                                <!--                                {% if item.zhuangtai == "F" %}-->
                                <!--                                <td><font color="red">未通过</font></td>-->
                                <!--                                {% endif %}-->
                                <!--                                {% if item.zhuangtai == "D" %}-->
                                <!--                                <td><font color="#CEBE29">待审核</font></td>-->
                                <!--                                {% endif %}-->
                                <!--                                <td>-->
                                <!--                                    <a href="/shenhe_delete.html?id={{ item.id }}">删除</a>-->
                                <!--                                </td>-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end wrapper -->
<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">© 2022 大学生发展综合素质测评系统</div>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- jQuery -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/modernizr.min.js"></script>
<script src="../static/js/waves.js"></script>
<script src="../static/js/jquery.slimscroll.js"></script>
<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/jquery.scrollTo.min.js"></script><!-- KNOB JS -->
<script src="../static/js/excanvas.js"></script>
<script src="../static/js/jquery.knob.js"></script><!-- XEditable Plugin -->
<script src="../static/js/moment.js"></script>
<script src="../static/js/bootstrap-editable.min.js"></script>
<script src="../static/js/xeditable.js"></script><!-- App js -->
<script src="../static/js/app.js"></script>
</body>
</html>
<script src="../static/js/console-ban.min.js"></script>
